body {
  background: linear-gradient(to bottom right, #090635, #a09797);
}

p,
h1 {
  color: rgb(255, 255, 255);
}
h1{
  font-family: "Parkinsans", sans-serif;
  font-size: 4rem;
}

h5, h4{
  font-family: "Parkinsans", sans-serif;
}

p{
  font-family: "Bona Nova SC", serif;
}
.language {
  color: black;
}
.description {
  color: white;
}

main.container {
  background-color: transparent;
  background-image: none;
}

.navbar {
  background-color: transparent;

  /* Retain the border and red color */
  border-bottom: 1px solid #d32f2f;
}

.navbar-nav .nav-link {
  color: #d32f2f;
}

.btn-outline-secondary {
  color: #d32f2f;
  border-color: #d32f2f;
}

.btn-outline-secondary:hover {
  background-color: #e65100;
  color: white;
}

ul {
  text-align: center;
  list-style-position: inside;
}

.card {
  max-width: 800px;
  background-color: #d32f2f;
}

.card, .list-view {
  background-color: white;
}

.card-text{
  color:black;
}

.name, .language, .rating{
  color:red;
}


.flip-card {
  background-color: transparent;
  width: 100%;
  max-width: 600px;
  height: 550px;
  perspective: 1000px;
  margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #d32f2f;
  overflow-y: auto;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card ul {
  padding-left: 20px;
  font-size: 1.1rem;
}
.flip-card li {
  margin-bottom: 10px;
}
.card-header-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

.img-container {
  aspect-ratio: 4/4;
  overflow: hidden;
}

hr{
  color:red;
  background-color: red;
  height: 10px;
}
